<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--Mis cambios-->
<mat-toolbar color="primary">
  <!--Evento click que hace referencia al mat-drawer y hace que se abra y se cierre-->
  <button mat-icon-button (click)="accionaMatDrawer(matDrawer)" aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>Mi Primer Proyecto Angular</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <!--Parte del menú de navegación donde se declaran las rutas-->
  <mat-drawer mode="side" opened #matDrawer><!--Referencia local del mat-drawer para poder usarlo en el evento click de arriba-->
    <div class="elementoBarra" [routerLink]="['login']">Inicio de sesión</div>
    <div class="elementoBarra" [routerLink]="['expositor']">Expositor</div>
    <div class="elementoBarra" [routerLink]="['creacionLibro']">Creación Libro</div>
  </mat-drawer>
  <!--Parte del menú de navegación donde se muestra el contenido de cada página-->
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
